* {
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    color: #fff;
}

#ad-container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 85%;
    margin: 0 7.5%;
    margin-top: 30px;
}

.carousel {
    grid-row: span 2;
}

.carousel img {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

/* .title-car {
    width: 30%; 
    
    height: 80%;
} */

.title-car h1 {
    margin-left: 20px;
    font-size: 55px;
}

.title-car .details {
    width: 92%;
    margin-top: 5px;
    margin-left: 20px;
    background: #232323;
    border-radius: 8px;
}

.title-car .details h2 {
    margin-left: 20px;
    margin-bottom: 3px;
    font-size: 40px;
}

.title-car p {
    margin-left: 20px;
    font-size: 25px;
}

.btns-info {
    margin-left: 20px;
    position: relative;
}

.btns-info .btn-1 {
    position: absolute;
    bottom: 0;
    font-size: 40px;
    border-radius: 8px;
    background: #fcfcfc;
    border: none;
    cursor: pointer;
}

.btns-info .btn-2 {
    position: absolute;
    bottom: 0;
    margin-left: 140px;
    font-size: 40px;
    border-radius: 8px;
    background: #257002;
    border: none;
    cursor: pointer;
}

.btns-info button:hover {
    opacity: 0.7;
}

/* MODAL WINDOW */

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 94%;
  max-height: 88vh;
  border-radius: 8px;
  object-fit: cover;
}

.close {
  display: flex;
  position: absolute;
  top: 20px;
  right: 28px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border: 3px #fff solid;
  background: #000;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px #000;
  cursor: pointer;
}


@media screen and (max-width: 970px) {
    #ad-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .carousel {
        grid-row: span 1;
    }

    .btns-info {
        width: 95%;
        position: sticky;
        bottom: 0;
    }

    .btns-info .btn-1 {
        font-size: 33px;
        width: 50%;
        float: left;
        position: relative;
    }

    .btns-info .btn-2 {
        font-size: 33px;
        width: 50%;
        margin-left: 0;
        float: right;
        position: relative;
    }

    /* MODAL WINDOW */
    .modal {
        padding-top: 10px;
    }

    .modal-content {
        margin: auto;
        display: block;
        max-width: 98%;
        max-height: 96vh;
        border-radius: 8px;
        object-fit: cover;
    }

    .close {
        display: flex;
        position: absolute;
        top: 12px;
        right: 20px;
        width: 20px;
        height: 20px;
        border: 3px #fff solid;
        background: #000;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 5px #000;
    }
}

@media screen and (max-width: 580px) {
    .modal {
        padding-top: 45px;
    }
    
    .close {
        position: absolute;
        top: 5px;
        right: 7px;
    }
}